/* TABLE OF CONTENTS */
/* --------------------
1. General
2. Navbar
3. Banner
4. Client
5. About
6. Features
7. Pricing
8. servcie
9. gallarys
10. FAQs
11. Footer
--------------------*/

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,100&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Background Color */
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-light-white: #fcfcfc;
    --bg-light-2: #f2f7fa;
    --bg-dark-green: #0e9d80;
    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    /* Text Color */
    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c535d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #A0A0A0;
    --text-dark-green: #12c4a0;
    --text-orange: #ff5d2a;
    --text-yellow: #ffc100;

    /* Fonts */
    --premary-font: 'Quicksand', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --normal-font-weight: 400;
    --bold-font-weight: 800;
}

body {
    font-family: var(--premary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white);
}

/* Custom CSS */
.learn-more-btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 7px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}

.btn-extra-header {
    color: var(--text-darkk-gray) !important;
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

/* 2 Navbar */
.header_wrapper .navbar {
    background: #fff;
    padding: 0 50px;
    transition: al .2s linear;
    -webkit-transition: all .2s linear;
    /* chrome safari */
    -o-transition: all .2s linear;
    /* opera mini */
    -moz-transition: all .2s linear;
    /* mozila */
    -ms-transition: all .2s linear;
    /* microsoft */
}

.header_wrapper .navbar-brand img {
    max-width: 70px;
}

.header_wrapper .navbar-brand .logo_text {
    font-size: 20px;
    font-weight: 800;
    color: #000;
    /* border: 1px solid #000; */
    position: relative;
    top: 10px;
    left: -5px;
}

.header_wrapper .menu_navbar_nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: var(--bold-font-weight);
    font-size: 18px;
    color: var(--text-dark-gray);
}

.header_wrapper .nav-item .nav-link.active {
    color: var(--bg-dark-green);
}

.header_scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05)
}

.header_scrolled .navbar-gallary img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 190px;
    }
}

.header_scrolled .nav-item .nav-link {
    font-size: 16px;
}

/* 3 Banner */
.banner_wrapper {
    display: flex;
    width: 100%;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: end;
    max-height: 100vh;
    /* border: 10px solid #000; */
    margin-top: 70px;

}

.banner_wrapper .container-fluid {

    /* margin-top: 25px; */
}

.banner_wrapper .carousel-control-next-icon,
.banner_wrapper .carousel-control-prev-icon {
    border: 2px solid #000;
    background-color: var(--bg-black);
    position: absolute;
    top: 70%;
    transform: translateY(-40%);
    border-radius: 10px;
    z-index: 110;

}

.banner_wrapper .carousel-control-prev-icon {
    /* left: -110px; */
}

.banner_wrapper .carousel-control-next-icon {
    /* right: -110px; */
}

.banner_wrapper .banner-subtitle {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.banner_wrapper .banner-title {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--text-black);
}

.banner_wrapper .banner-title span {
    color: var(--text-dark-green);
}

.banner_wrapper .banner-title-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 450px;
    color: var(--text-light-2);
}

.banner_wrapper .learn_more_btn_section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.header_img_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */

}

.header_img_section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    /* -moz-box-shadow: inset 0px 0px 20px 20px #fff; */
    /* -webkit-box-shadow: inset 0px 0px 20px 20px #fff; */
    /* box-shadow: inset 0px 0px 20px 20px #fff; */
}

.banner_wrapper .header_img_section img {
    width: 100%;
    animation: float 5s ease-in-out infinite;

}

.container-fluid {
    padding: 0;
    margin: 0;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }

}

/* 4 Clients */
.clients {
    padding: 80px 0 50px;
    background: var(--bg-light-2);
}

.clients h2 {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 40px;
    color: var(--text-light-3);
}

.client_slider_section .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.client_slider_section .item img {
    width: auto !important;
    height: 50px;
    object-fit: cover;
}

/* 5 About */
.about_wrapper {
    padding: 50px 0;
    background: rgb(239, 237, 237);
    /* color: #fff; */

}

.about_wrapper .about_number {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 25px;
    padding: 4px 17px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: var(--bg-dark-green);
    color: var(--text-white);
    max-width: 44px;
}

.about_wrapper .about_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    /* max-width: 1000px; */
    margin-bottom: 25px;
    color: var(--text-black);
    line-height: 1.25;
}

.about_wrapper .about_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    max-width: 700px;
    margin: 0 auto;
    color: var(--text-light-3);
}

.about_wrapper .innovate {
    background: var(--bg-light-2);
}

.about_wrapper .projects {
    padding: 30px 0;
}

.about_wrapper .projects h2 {
    color: var(--text-orange);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 0;
}

.about_wrapper .projects p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

/* 6 Features */
.features_wrapper {
    padding: 50px 0 0px;
    background: var(--bg-light-2);
}

.features_wrapper .features_subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-2);
    margin-bottom: 15px;
}

.features_wrapper .features_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 30px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.features_wrapper h3 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
}

.features_wrapper .features_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features_wrapper .ft-1 {
    background-color: var(--bg-features-1);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-1::before {
    content: url(../images/consultancy.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-2 {
    background-color: var(--bg-features-2);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-2::before {
    content: url(../images/solutions.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-3 {
    background-color: var(--bg-features-3);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-3::before {
    content: url(../images/simple.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-4 {
    background-color: var(--bg-features-4);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-4::before {
    content: url(../images/deadline.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-5 {
    background-color: var(--bg-features-5);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-5::before {
    content: url(../images/data.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

.features_wrapper .ft-6 {
    background-color: var(--bg-features-6);
    padding: 40px;
    border-radius: 15px;
}

.features_wrapper .ft-6::before {
    content: url(../images/flexible.png);
    position: absolute;
    display: block;
    margin-top: -70px;
}

/* 7 Pricing */
.price_wrapper {
    padding: 100px 0 0;

}

.price_wrapper .pricing_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.price_wrapper .pricing_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.price_wrapper .pricing_card {
    background: var(--bg-white);
    box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 25px 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.price_wrapper .pricing_card:hover {
    box-shadow: 0 2px 29px rgb(0 0 0 /20%);
    z-index: 5;
    cursor: pointer;
}

.price_wrapper .pricing_period {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 0;
    color: var(--text-light-2);
}

.price_wrapper .pricing_card img {
    max-width: 75%;
}

.price_wrapper .pricing_rate {
    font-size: 30px;
    font-family: var(--secondary-font);
    font-weight: 800;
    color: var(--text-black);
    line-height: 1.5;
}

.price_wrapper .pricing_text {
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--text-black);
    margin: 0;
}

.price_wrapper .pricing_all_plan {
    text-align: center;
    width: 100%;
    display: flex;
    margin: 15px 0;
}

.price_wrapper .pricing_all_plan ul {
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
}

.price_wrapper .pricing_all_plan li {
    font-size: 14px;
    color: var(--text-dark-gray);
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    margin-top: 5px;
}

.price_wrapper .pricing_all_plan li strike {
    color: var(--text-light-4);
}

.price_wrapper .learn-more-btn {
    background-color: var(--bg-dark-green);
    color: var(--text-white);
    border: none;
}

.price_wrapper .featured {
    box-shadow: 0 2px 40px rgb(0 0 0 / 5%);
    background: var(--bg-white);
    border: 5px solid var(--text-black);
    padding-top: 80px;
    padding-bottom: 80px;
}

.price_wrapper .pricing_ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 20;
}

.price_wrapper .pricing_ribbon span {
    font-family: var(--secondary-font);
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    background-color: var(--bg-black);
    color: var(--text-white);
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    text-align: center;
    right: -45px;
    top: 30px;
    transform: rotate(-45deg);
}

.price_wrapper .btn_featured {
    background: var(--bg-black);
}

.price_wrapper .featured .pricing_rate {
    font-size: 40px;
}

.free_trial {
    background: var(--bg-light-2);
    padding: 80px 0;
    margin-top: 100px;
}

.free_trial .free_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 0;
    color: var(--text-black);
}

.free_trial .learn-more-btn {
    background-color: var(--bg-black);
    border-color: var(--bg-black);
}

.free_trial i {
    font-size: 22px;
    margin-top: 5px;
    vertical-align: baseline;
    color: var(--text-yellow);
}

/* 8  servcies */
.servcies_wrapper {
    padding: 50px 0;
}

.servcies_wrapper .servcie_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 50px;
    color: var(--text-light-3);
}

.servcies_wrapper .servcie_title {
    font-family: var(--secondary-font);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 20px;
    color: var(--text-black);
}

.servcies_wrapper .servcie_card {
    border-radius: 15px;
    padding: 50px;
    background: var(--bg-white);
    box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
}

.servcies_wrapper .servcie_card h3 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
}

.servcies_wrapper .servcie_role {
    font-size: 19px;
    line-height: 1;
    margin-bottom: 25px;
    font-weight: 700;
    color: var(--text-dark-green);
}

.servcies_wrapper .servcie_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}

/* 9 gallary */
.gallary_wrapper {
    padding: 30px 0;
    background: var(--bg-light-2);
}

.gallary_wrapper .gallary_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-dark-gray);
}

.gallary_wrapper .gallary_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.gallary_wrapper .gallary_card {
    padding: 20px;
    background: #fff;
    /* border-radius: 10px; */
    /* border: 2px solid var(--bg-features-2); */
}

.gallary_wrapper .gallary_card img {
    /* height: 300px; */
    object-fit: contain;
}

/* 10 Faqs */
.faq_wrapper {
    padding: 100px 0 0;
}

.faq_wrapper .faq_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-dark-gray);
}

.faq_wrapper .faq_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--text-black);
}

.faq_wrapper .accordion-button:hover,
.faq_wrapper .accordion-button:focus {
    box-shadow: none;
    color: var(--text-dark-green);
}

.faq_wrapper .accordion-item {
    border: 0;
}

.faq_wrapper .accordion-button {
    font-size: 21px;
    font-weight: 600;
    color: var(--text-black);
    background-color: var(--bg-white);
    border-radius: 0;
    padding: 0 0 15px 0;
    font-family: var(--secondary-font);
    border-bottom: 0.1px solid var(--text-light-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Contact1 section */

.contact_wrapper .contact_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    color: var(--text-black);
}


.contact .message h2 {
    font-weight: 600;
}

.contact .form {
    padding: 40px 20px;
    box-shadow: 0 0.3px 10px 0.3px rgb(236, 235, 235);
    border-radius: 5px;
}

.contact .form input {
    padding: 7px;
    margin-bottom: 40px;
}

.contact .form label {
    font-weight: 600;
    font-size: 1.1rem;
    color: #292d3a;
}

.contact form .col1 input {
    width: 95%;
}

.contact form .col2 {
    display: flex;
    justify-content: space-between;
}

.contact form .col2 div {
    width: 100%;
}

.contact form .col2 div input {
    width: 90%;
}

.contact form .col3 textarea {
    width: 95%;
    height: 25%;
}

.contact form button {
    background-color: var(--text-yellow);
    color: #fff;
    padding: 12px 40px;
    margin-top: 40px;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: all .3s;
}

.contact form button:hover {
    color: #292d3a;
    border: 2px solid #292d3a;
    background: transparent;
}

.contact .detail .col-12 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0.2px 7px .2px rgb(236, 235, 235);
    padding: 10px;
    border-radius: 5px;
}

.contact .detail p {
    font-size: 1.1rem;
    font-weight: 600;
}

.contact .detail .col-12 .fas {
    padding: 15px 16px;
    background-color: var(--bg-dark-green);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-right: 20px;
}

/* 11 Footer */
.footer_wrapper {
    padding: 100px 0 25px;
    background: url(../images/bg_footer.png) no-repeat;
    background-size: cover;
    background-color: var(--bg-black);
    color: var(--text-white);
}

.footer_wrapper .footer_logo img {
    max-width: 30%;
    margin-bottom: 10px;
}

.footer_wrapper .footer_text,
.footer_wrapper .footer_text a {
    margin-bottom: 30px;
    color: var(--text-white);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}

.footer_wrapper .footer_title {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text-white);
    margin-bottom: 25px;
}

.footer_wrapper .footer_social_media_icon {
    padding-right: 30px;
    font-size: 20px;
    color: var(--text-white);
}

.footer_wrapper .footer_credits {
    color: var(--text-white);
    border-top: 1px solid var(--text-white);
    padding-top: 20px;
}

.footer_wrapper .footer_credits a {
    color: var(--text-yellow);
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--bg-light-2);
}

/* Handel */
::-webkit-scrollbar-thumb {
    background: var(--bg-black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-black);
}